/* Global CSS   mainly for the IPAD, and Tablets */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Hi Melody', cursive;
}
strong {
  font-weight: bolder;
  font-size: 19px;
}
#hero {
  background-image: url(img/bostonbg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
}
span {
  font-size: 30px;
  font-family: 'Hi Melody', cursive;
  text-align: center;
  text-decoration: underline;
}
.heroT{
  color: black;
  font-size: 40px;
  text-align: center;
}
.buttonLarge{
  display: none;
}
.descriptionT{
  font-size: 15px;
   width: 200px;
  padding-top: 3%;
  opacity: .5;
  margin-left: 19%;
  color: white;
}
.mainHeading{
  font-family: 'Hi Melody', cursive;
  font-size: 42px;
  margin-top: 3%;
}
.subHeading {
  font-family: 'Hi Melody', cursive;
  font-size: 18px;
  text-decoration: underline;
}
.descriptionPara{
  font-family: 'Hi Melody', cursive;
  font-size: 14px;
}
#mainContent{
  text-align: center;
}
#subMainContent{
  margin-top: 10%;
}
#logo{
  height: 95px;
  width: 250px;
}
#subLogo{
  border-radius: 25px;
  height: 250px;
  width: 440px;
}
#footer {
  width: 100%;
  height: 30px;
  color: black;
  border-left: 12px solid white;
  border-right: 12px solid white;
}


@media (max-width: 576px) {
  #hero {
    background-image: url(img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
  }
  p {
    font-size: 18px;
    font-family: 'Hi Melody', cursive;
    text-align: center;
  }
  .subHeading {
  font-family: 'Hi Melody', cursive;
    font-size: 28px;
    text-decoration: underline
  }
  .mainHeading {
  display: none;
  }
  .buttonLarge{
    display: none;
  }
  .buttonSmall{
    margin: 2%;
    font-size: 18px;
  }
  .descriptionT{
    font-size: 16px;
    width: 170px;
    margin-left: 1%;
    opacity: .5;
    padding-top: 15%;
    color: white;
  }



  /*Hero Image for Mobile Phones*/
  #hero {
    background-image: url(../img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
  }
  #footer {
    width: 100%;
    height: 40px;
    color: #B3B3C0;
  }
}

/*// Medium devices (tablets, 768px and up)*/
/* Changing the Hero for Landscape Views */
@media (min-width: 768px) {
  #hero {
    background-image: url(img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .descriptionPara{
  font-family: 'Hi Melody', cursive;
    font-size: 14px;
    text-align: center;
    width: 55%;
    margin-left: 15%;
  }
  .descriptionT{
    font-size: 14px;
    width: 250px;
    padding-top: 13%;
    color: black;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 892px) {
  p {
    font-size: 33px;
  font-family: 'Hi Melody', cursive;
  }
  .buttonSmall{
  display: none
  }
  .buttonLarge{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 44px;
    cursor: pointer;
    display: inline-block;
  }
  .descriptionT{
    font-size: 22px;
    width: 300px;
    padding-top: 7%;
    margin-left: 3%;
  }
  .descriptionPara{
  font-family: 'Hi Melody', cursive;
    font-size: 16px;
    width: 55%;
    margin-left: 23%;
    color: black;
  }
  .jobPara{
  font-family: 'Hi Melody', cursive;
  font-size: 18px;
  text-align: left;
  }
  .subHeading{
    font-size: 42px;
  }
  #skills{
    width: 60%;
    margin-left: 25%;
  }
  .skillsp{
    font-size: 18px;
  }

  .img {
    border-radius: 25px;
  }

  /*Hero Image for Desktop*/
  #hero {
    background-image: url(img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
  }


  #footer {
    width: 100%;
    height: 30px;
    color: #B3B3C0;
  }

  /*// Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {}
