/* Global CSS   mainly for the IPAD, and Tablets */
body,
html {
  height: 100%;
  font-family: "Karma", serif;
}
nav {
  font-family: "Handlee", cursive;
}
a:any-link {
  color: white
}
strong {
  font-weight: bolder;
  font-size: 22px;
  color: black;
  text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px black;
  letter-spacing: 3px;
}
#hero {
  background-image: url(img/bostonbg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 70%;
  font-family: "Karma", serif;
}
span {
  font-size: 30px;
  font-family: "Karma", serif;
  text-align: center;
  text-decoration: underline;
}
.heroT {
  color: black;
  font-size: 40px;
  margin-top: 8%;
  text-align: center;
  font-family: "Handlee", cursive;
}
#quote {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 28px;
  letter-spacing: 3px;
  opacity: .5;
}
.buttonLarge {
  display: none;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px white;
  font-family: "Handlee", cursive;
  background-color: transparent;
  border-style: none;
}
.buttonSmall {
  margin: 2%;
  font-size: 18px;
  font-family: "Handlee", cursive;
  display: none;
}
.descriptionT {
  font-size: 18px;
  width: 160px;
  padding-top: 1%;
  opacity: 0.8;
  margin-left: 20%;
  color: black;
  font-family: "Handlee", cursive;
}
#footer {
  width: 100%;
  height: 20px;
  margin-top: 2%;
}
#mainBack{
  background-image: url(img/mainBack2.JPG);
  background-position: center;
  background-repeat: no-repeat;
  height: 450%;
  width: 100%;
  margin: 0%;
  background-size: cover;
}
#aboutMe{
  height: 250px;
}
#intro{
  font-size: 35px;
  text-align: center;
  margin-top: 8%;
  font-family: "Handlee", cursive;
}
h3{
  text-decoration: underline;
  letter-spacing: 10px;
  text-align: center;
}
ul{
  font-size: 12px;
  text-align: center;
  padding-right: 2%;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}
.proj{
  height: 140px;
  width: 180px;
  border-radius: 25%;
  margin-left: 25%;
}
#message{
  text-align: center;
}



/* Phone View  */
@media (max-width: 576px) {
  #hero {
    background-image: url(img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    font-family: "Karma", serif;
  }
  #mainBack{
    background-image: url(img/mainBack2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    height: 450%;
    width: 140%;
    margin: 0%;
    background-size: cover;
  }
  p {
    font-size: 18px;
    font-family: "Karma", serif;
    text-align: center;
  }
  a:any-link {
    color:black;
  }

  .buttonLarge {
    display: none;
    color:white;
    font-size: 28px;
    text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px white;
    font-family: "Handlee", cursive;
    background-color: transparent;
    margin-top: 5%;
    border-style:none;
  }
  .buttonSmall {
    margin: 2%;
    font-size: 18px;
    font-family: "Handlee", cursive;
    display: none;
  }
  .descriptionT {
    font-size: 19px;
    width: 170px;
    margin-left: 1%;
    opacity: 0.5;
    font-family: "Handlee", cursive;
  }

  .descriptionT {
    font-size: 16px;
    width: 181px;
    padding-top: 20%;
    color: white;
    font-family: "Karma", serif;
    opacity: 0.9;
    font-weight: 900;
  }
  strong {
    font-weight: bolder;
    font-size: 21px;
    color: white;
    text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px black;
    letter-spacing: 3px;
  }
    .buttonSmall {
    margin: 2%;
    font-size: 18px;
    font-family: "Handlee", cursive;
    display: none;
  }
  #footer {
    width: 100%;
    height: 20px;
    color: #b3b3c0;
  }
}

/*// Medium devices (tablets, 768px and up)*/
/* Changing the Hero for Landscape Views */
@media (min-width: 768px) {
  #hero {
    background-image: url(img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainBack{
    background-image: url(img/mainBack2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    height: 320%;
    width: 100%;
    margin: 0%;
    background-size: cover;
  }
  a:any-link {
    color: white;
  }

  .descriptionT {
    font-size: 16px;
    width: 250px;
    padding-top: 13%;
    color: black;
    font-family: "Karma", serif;
  }
}

/*// Laptop view (desktops, 992px and up)*/
@media (min-width: 892px) {
  p {
    font-size: 28px;
    font-family: "Karma", serif;
  }
  #quote {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 28px;
    width: 40%;
    margin-left: 30%;
  }
  #descriptionMain{
    font-family: "Handlee", cursive;
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin-left: 23%;
  }
  #mainBack{
    background-image: url(img/mainBack2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    height: 250%;
    width: 100%;
    margin: 0%;
    background-size: cover;
  }
  strong {
    font-weight: bolder;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px black;
    letter-spacing: 3px;
  }
  #aboutMe{
    height: 250px;
  }
  #hero {
    background-image: url(img/bostonbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
  }
  a:any-link {
    color: #CB6810;
  }
  .buttonSmall {
    display: none;
  }
  .buttonLarge {
    display: none;
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px white;
    font-family: "Handlee", cursive;
    background-color: transparent;
    border-style: none;
  }
  #technologies{
    border-style: solid;
    border-width: 15px;
    border-color: white;
  }
  .descriptionT {
    font-size: 25px;
    width: 350px;
    padding-top: 7%;
    margin-left: 3%;
    font-family: "Karma", serif;
  }
  #intro{
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
    font-family: "Handlee", cursive;
  }
  h3{
    text-decoration: underline;
    letter-spacing: 13px;
    text-align: center;
  }
  ul{
    font-size: 15px;
    text-align: center;
    padding-right: 4%;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
  }
  h4{
    font-size: 30px;
    text-align: center;
  }
  .mainText{
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
  }
  li{
    margin: 3%;
    margin-left: 20%;
    width: 60%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
  }
  .proj{
    height: 140px;
    width: 180px;
    border-radius: 25%;
    margin-left: 25%;
  }
  #projects{
    border-top: 3px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 15px solid white;
  }
  #message{
    border-top: 3px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 15px solid white;
    text-align: center;
  }
  .projDes{
    font-size: 15px;
    text-align: center
  }
  .heroT {
    color: black;
    font-size: 60px;
    margin-top: 1%;
    text-align: center;
    font-family: "Handlee", cursive;
  }
  .icon {
    margin: 3%;
    color: #162379;
  }

  #footer {
    width: 100%;
    height: 20px;
    color: #b3b3c0;
  }

  /*// Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
    p {
    font-size: 30px;
    font-family: "Karma", serif;
  }
  strong {
    font-weight: bolder;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px #CB6810, 0 0 25px #CB6810, 0 0 5px black;
    letter-spacing: 3px;
  }
  }